body,
html {
  display: contents;
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
  width: auto;
  margin: 0 auto;
  padding: 0 auto;
}

main{
    width: auto;
    height: auto;
    max-width: fit-content;
    margin: 0 auto;
    padding: 0 auto;

}

/* General container elements styling starts here */

.container {
  height: auto;
  width: auto;
  max-width: fit-content;
  margin: 0 auto;
  justify-content: center;
}

.one,
.two {
  display: grid;
}

.one {
  grid-template-columns: 1fr;
  width: auto;
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
}
.one .content {
  width: auto;
  margin: 50px;
}
.one .content h3 {
  color: hsl(179, 62%, 43%);
}

.one .content h4 {
  color: hsl(64, 73%, 54%);
}
.one .content p {
  color: hsl(0, 0%, 81%);
}

/* General container element styling ends here */

/* second grid box general styling starts */

.two {
  grid-template-columns: 1fr 1fr;
  width: auto;
  margin: 0 auto;
}

.subscription {
  background-color: hsl(179, 62%, 43%);
}

.why-us {
  background-color: hsl(179, 44%, 56%);
}

/* second grid box general styling ends */

/* Subscription core styling starts */

.subscription .content {
  width: auto;
  margin: 50px;
  color: white;
}

.subscription .content ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
}

.subscription .content ul li {
  font-weight: 500;
  line-height: 1.5;
  margin-right: 10px;
  list-style-type: none;
}
.subscription .content ul li .month {
  color: hsl(0, 1%, 68%);
}
.subscription .btn {
  width: 100%;
  background-color: hsl(64, 73%, 54%);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: 1px solid gray;
  box-shadow: 10px;
}

/* subscription core styling stops */

/* why us core styling */
.why-us .content {
  width: auto;
  margin: 60px;
  color: white;
}

/* why us styling ends */

/* media Query styling starts */

@media(max-width: 375px) {
  body,
  html {
    width: auto ;
    padding: 0 auto;
    margin: 0 auto;
  }

  .two {
    display: grid;
    grid-template-columns: auto;
    width: auto;
    margin: 0 auto;
  }

}

/* media Query styling ends */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
