
body, html{
    display: contents;
    font-family: karla;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container{
width: auto;
margin: auto;
justify-content: center;
}

.one, .two{
    display: grid;
}

.one{
    grid-template-columns: 1fr;
    width: 50%;
    margin: auto;
}
.two{
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin: auto;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }